body {
  margin: 0px;
  text-align: center;
  font-family: sans-serif;
  background-color: #DBEDF3;
}

hr {
  border: solid #00818A 3px;
  border-bottom: none;
  width: 30%;
  margin: 80px auto 80px auto;
}

h2 {
  font-weight: bold;
  font-size: 2.5rem;
  color: #126E82
}

h3 {
  font-size: 1.3rem;
  color: #126E82
}

.navbar {
  background-color: #0b1321;
}

.nav-item {
  padding: 5px;
}

.top-container {
  margin-top: 0px;
  background-color: #0f1f38;
  padding-bottom: 0px;
}

.cloud {
  position: relative;
  padding-top: 34px;
  height: 16.0rem;
  width: 14rem;
  opacity: 0.4;
}

.name {
  font-size: 5.625rem;
  color: cyan;
  margin: 30px auto 55px auto;
  font-family: 'Dancing Script', cursive;
  font-weight: normal;
}

.pro {
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  color: cyan;
  font-size: 1.6rem;
  padding-bottom: 3.5rem;
}

.mountain {
  position: relative;
  width: 100%;
  height: 6.25rem;
}

.intro {
  font-size: 1.1rem;
  margin: auto;
  width: 30%;
  line-height: 2;
}

.profile-img {
  padding-top: 5rem;
  padding-bottom: 2rem;
  width: 20rem;
}

.skills {
  padding-bottom: 30px;
}

.skill-row {
  padding: 30px;
  text-align: left;
  width: 50%;
  margin: 0rem auto 3rem auto;
  line-height: 2;
}

.machine-learning-img {
  padding-right: 30px;
  float: left;
  width: 18rem;
}

.programmer {
  float: right;
  position: relative;
  width: 280px;
}

.bottom-container {
  text-align: center;
  margin-top: 60px;
  background-color: #00818A;
  padding: 10px;
}

.get-in-touch {
  font-size: 1.7rem;
}

.interested {
  font-size: 1.2rem;
}

.contact-message {
  width 40%;
  margin: 40px auto 60px auto;
}

.contact-me-btn {
  background-color: #DBEDF3;
  color: #404B69;
  font-weight: bold;
}

.contact-me-btn:hover
{
  background-color:#00818A;
}

.socials {
  position: relative;
  font-size: 20px;
  padding: 20px;
  color: #322d6e;
}

.socials:hover {
  color: #DBEDF3;
}

.open-source
{
  color: #322d6e;
  padding-top: 1rem;
  font-size: 0.8rem;
}

.open-source a
{
  text-align: center;
  text-decoration: none;
  color: #322d6e;
}

.open-source a:hover
{
  color: #DBEDF3;
  text-decoration: underline;
  font-weight: lighter;

  /* This prevents movement of other text when the weight is changed to lighter from bold on hover */
  letter-spacing: 0.5px;
}

.copyright {
  color: #9dabb0;
  font-size: 0.69rem;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  letter-spacing: 1.5px;
}

@media (max-width: 974px) {
  .cloud {
    position: relative;
    padding-top: 34px;
    height: 14.0rem;
    width: 12rem;
    opacity: 0.4;
  }

  .name {
    font-size: 4rem;
    color: cyan;
    margin: 30px auto 55px auto;
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
  }

  .pro {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: cyan;
    font-size: 1.5rem;
    padding-bottom: 3.5rem;
  }

  .mountain {
    position: relative;
    width: 100%;
    height: 3.9rem;
  }
}
